@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oxygen', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #ab1a25 !important;
}
.bg-success {
  background-color: #ff9132 !important;
}
.bg-info {
  background-color: #ab1a25 !important;
}
.bg-warning {
  background-color: #013440 !important;
}
.bg-danger {
  background-color: #002635 !important;
}
.btn-primary {
  background-color: #ab1a25;
  border-color: #ab1a25;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #691017;
  border-color: #691017;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #691017 !important;
  border-color: #691017 !important;
}
.btn-secondary {
  background-color: #efe7be;
  border-color: #efe7be;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #e0d081;
  border-color: #e0d081;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e0d081 !important;
  border-color: #e0d081 !important;
}
.btn-info {
  background-color: #ab1a25;
  border-color: #ab1a25;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #691017;
  border-color: #691017;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #691017 !important;
  border-color: #691017 !important;
}
.btn-success {
  background-color: #ff9132;
  border-color: #ff9132;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #e46a00;
  border-color: #e46a00;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #e46a00 !important;
  border-color: #e46a00 !important;
}
.btn-warning {
  background-color: #013440;
  border-color: #013440;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger {
  background-color: #002635;
  border-color: #002635;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #520d12;
  color: #520d12;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ab1a25;
  border-color: #ab1a25;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ab1a25 !important;
  border-color: #ab1a25 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #dbc96c;
  color: #dbc96c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #efe7be;
  border-color: #efe7be;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #efe7be !important;
  border-color: #efe7be !important;
}
.btn-info-outline {
  background: none;
  border-color: #520d12;
  color: #520d12;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ab1a25;
  border-color: #ab1a25;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ab1a25 !important;
  border-color: #ab1a25 !important;
}
.btn-success-outline {
  background: none;
  border-color: #cb5e00;
  color: #cb5e00;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ff9132;
  border-color: #ff9132;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9132 !important;
  border-color: #ff9132 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #013440;
  border-color: #013440;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #013440 !important;
  border-color: #013440 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #002635;
  border-color: #002635;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #002635 !important;
  border-color: #002635 !important;
}
.text-primary {
  color: #ab1a25 !important;
}
.text-success {
  color: #ff9132 !important;
}
.text-info {
  color: #ab1a25 !important;
}
.text-warning {
  color: #013440 !important;
}
.text-danger {
  color: #002635 !important;
}
.alert-success {
  background-color: #ff9132;
}
.alert-info {
  background-color: #ab1a25;
}
.alert-warning {
  background-color: #013440;
}
.alert-danger {
  background-color: #002635;
}
.btn-social {
  border-color: #ab1a25;
}
.btn-social:hover {
  background: #ab1a25;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ab1a25;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ab1a25;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ab1a25;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ab1a25;
}
.lead a,
.lead a:hover {
  color: #ab1a25;
}
.lead blockquote {
  border-color: #ab1a25;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e75e68;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fffefe;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e75e68;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #2bd4fc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #1cbfff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ab1a25;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-1 .navbar-toggler {
  color: #013440;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #013440;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #013440;
  font-family: 'Oxygen', sans-serif;
}
#menu-1 .link {
  font-size: 1.05rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #ab1a25;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #e6e6e6;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1 .bg-color.transparent .link {
  color: #013440;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #ab1a25;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #ab1a25!important;
}
#form1-t .form-control-label {
  color: #ffffff;
}
#form1-t .mbr-section-title {
  color: #323840;
}
#form1-t .btn {
  font-size: 14px;
}
#form1-t .mbr-section-title SPAN {
  color: #ffffff;
}
#contacts2-p UL {
  color: #000000;
}
#footer1-q P {
  color: #efe7be;
  text-align: right;
  font-family: 'Oxygen', sans-serif;
}
#footer1-q B {
  text-align: center;
  color: #efe7be;
}


#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-1 .navbar-toggler {
  color: #013440;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #013440;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #013440;
  font-family: 'Oxygen', sans-serif;
}
#menu-1 .link {
  font-size: 1.05rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #ab1a25;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #e6e6e6;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1 .bg-color.transparent .link {
  color: #013440;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #ab1a25;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #ab1a25!important;
}
#header1-2 .mbr-section-lead {
  font-size: 100px;
}
#content2-u BLOCKQUOTE {
  font-size: 14px;
  color: #ffffff;
}
#content2-u DIV {
  text-align: left;
}
#content2-u P {
  font-size: 14px;
}
#msg-box8-7 .mbr-section-title,
#msg-box8-7 p {
  color: #fff;
}
#msg-box8-7 .mbr-section-title {
  color: #ffffff;
}
#features3-8 P {
  color: #faaf40;
  font-size: 12px;
  text-align: center;
}
#features3-8 H4 {
  color: #28324e;
  text-align: center;
}
#msg-box8-9 .mbr-section-title,
#msg-box8-9 p {
  color: #fff;
}
#msg-box8-9 .mbr-section-title {
  color: #ffffff;
}
#features3-a P {
  color: #f28281;
  text-align: right;
  font-size: 12px;
}
#features3-a H4 {
  color: #28324e;
  text-align: right;
}
#msg-box8-b .mbr-section-title,
#msg-box8-b p {
  color: #fff;
}
#msg-box8-b .mbr-section-title {
  color: #ffffff;
}
#features3-c P {
  color: #41a85f;
  font-size: 12px;
  text-align: left;
}
#features3-c H4 {
  color: #28324e;
  text-align: left;
}
#social-buttons4-h .mbr-section-title,
#social-buttons4-h .btn-social {
  color: #fff;
}
#social-buttons4-h .mbr-section-title {
  font-size: 32px;
}
#contacts2-l UL {
  color: #000000;
}
#footer1-3 P {
  color: #efe7be;
  text-align: right;
  font-family: 'Oxygen', sans-serif;
}
#footer1-3 B {
  text-align: center;
  color: #efe7be;
}
